@import '../../index.scss';

$heighCapa: 240px;

@media screen and (max-width: 768px) {
  .catalog {
    max-width: 95vw !important;
  }

  .catalog__cover img {
    width: 86vw !important;
  }
}

.catalog {
  display: flex;
  margin: 15px 8px;
  flex-direction: column;
  max-width: 250px;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.205);
  overflow: hidden;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.catalog__cover {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid rgb(173, 173, 173);


  img {
    height: $heighCapa;
    width: 250px;
    object-fit: contain;
  }
}

.catalog__information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 8px;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 4px
  }

  p {
    padding: 4px
  }
}

.catalog__cover--hover h4 {
  color: $orangeMark;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

.catalog__cover--hover {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: $heighCapa;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;

}

.catalog__cover:hover .catalog__cover--hover {
  opacity: 1;
  visibility: visible;
}

.catalog__genre {
  margin: 10px 0;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  color: $orangeMark;
}

.catalog__actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
  background: rgb(107, 107, 107);

  a {
    font-size: 1.8em;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    opacity: 0.9;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.205);

    &:hover {
      opacity: 1;

    }
  }
}

.catalog__actions--delete {
  background: rgb(255, 38, 0);
}

.catalog__actions--edit {
  background: rgb(0, 110, 255);
}

.catalog__actions--details {
  background: rgb(6, 172, 0);
}

.catalog__modal {
  display: flex;
  flex-direction: column;
  z-index: 1;

  h2 {
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: underline;
  }
}

.catalog__modal--close {
  display: flex;
  justify-content: flex-end;

  button {
    background: none;
    font: inherit;
    outline: inherit;
    font-size: 1.8em;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    // color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    border-radius: 50%;
    opacity: 0.9;
  }
}

.catalog__modal--details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -12px;
  color: whitesmoke
}
