@import '../../index.scss';

@media screen and (max-width: 768px) {
  .movie__group--input {
    display: block !important;
  }
}

.movie {
  margin-top: $headerDistance;

  div h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

.movie__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__form fieldset {
  display: flex;
  width: 90vw;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: initial;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
}

.movie__form button {
  margin: 16px 0px;
  padding: 10px;
  font-size: 18px;
}

.movie__group--input {
  display: flex;
  flex: 1;
}
