@import '../../index.scss';

@media screen and (max-width: 768px) {
  .movie__group--input {
    display: block !important;
  }
}

.movie {
  margin-top: $headerDistance;

  div h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

.movie__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  fieldset {
    display: flex;
    width: 90vw;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: initial;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
  }

  button {
    margin: 16px 0px;
    padding: 10px;
    font-size: 20px;
    background: rgb(37, 187, 0);
    outline: inherit;
    // font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(168, 167, 167);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    border-radius: 8px;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }
  }
}

.movie__group--input {
  display: flex;
  flex: 1;
}
